
.footer {
  background-color: grey;
  color: #fff;
  padding: 50px 0;
  margin-top: 700px;
  font-size: large;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.col-md-6,
.col-md-3 {
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  margin-bottom: 10px;
}


.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: pink; 
}
.col-md-12{
  margin-left: 400px;
}