*{
    background-color:grey;
}
.home-container {
    position: relative;
    margin-top: 250px;
    font-weight: 200;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px; /* Adjust size as needed */
    color:white;
    pointer-events: none; /* Ensures that the text doesn't interfere with user interactions */
}
