.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  background-color: transparent;
}

.box {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 12px #d1d1d1, -6px -6px 12px #ffffff;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 16px #d1d1d1, -6px -6px 16px #ffffff;
}

.inner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.inner-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.inner-box img:hover {
  transform: scale(1.05);
}

.view-workout-btn {
  background: linear-gradient(145deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.view-workout-btn:hover {
  background: linear-gradient(145deg, #0056b3, #003a8c);
  transform: scale(1.1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.save-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.save-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));
}
