.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* Set box to relative positioning */
}

.inner-box {
    position: relative; /* Set inner-box to relative positioning */
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner-box img {
    max-width: 100%; /* Adjust width to fit inside the box */
    max-height: 70%; /* Adjust height to fit inside the box */
    object-fit: contain; /* Ensure entire image is visible within the box */
    margin-bottom: 10px; /* Add margin between image and button */
    z-index: 999;
}

.view-workout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}
.favorite-btn {
    position: absolute;
    top: 5px; /* Adjust as needed */
    left: 300px; /* Adjust as needed */
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 325px;
  }
  
.view-workout-btn:hover {
    background-color: #0056b3;
}

