
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  

.sign-in-container {
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    margin-top: 200px;
    margin-left: 450px;
    border: 2px solid #f61e01;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease forwards;
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.sign-in-title {
    text-align: center;
    font-size: 28px;
    color: #f11e02;
    margin-bottom: 20px;
}
  

.sign-in-form {
    display: flex;
    flex-direction: column;
}
  

.sign-in-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; 
}
  

.sign-in-form button {
    padding: 10px 10px;
    background-color:#ee1400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.sign-in-form button:hover {
    background-color:  #ea0602;
}
  

.sign-up-link {
    text-align: center;
    margin-top: 15px;
}
  
.sign-up-link a {
    color: #f30905;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.sign-up-link a:hover {
    color: #2980b9;
}
